html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.primer {
  display: flex;
  background-color: #ffff;
  justify-content: center;
  
}

.primer1 {
  display: flex;
  height: 120px;
  position: absolute;
  top: 50px;
}

.primer2 {
  display: flex;
  text-decoration: none;
  font-size: 18px;
  position: absolute;
  top: 100px;
  right: 0;
  background-color: black;
  color: white;
  padding: 1rem ;
  border: none;
 
}


.primer,
.segunda {
  margin-top: 100px;
}

.segunda {
  display: flex;
  background-color: rgb(91, 185, 210);;
  padding: 30px;
}

.segunda1 {
  position: absolute;
  margin-top: -20px;
  left: 42%;
  margin-top: -2px;
  font-size: 24px;
  color: #ffff;
  font-weight: bold;
}

.segunda2 {
  display: flex;
  position: relative;
  left: 9rem;
  top: 4rem;
}

.segunda3 {
  width: 80%;
  margin: 10px auto 30px;
  left: 40%;
}

.tercero {
  margin-bottom: 4rem;
  font-size: 18px;
  font-family: "Sen", sans-serif;
  font-weight: bold;
}

.si {
  margin-left: 35rem;
}

.tercero1 {
  display: flex;
  justify-content: center;
}

.tercero2 {
  padding: 10px;
  box-shadow: 0 2px 4px #32325d1a;
}

.tercero3 {
  width: 300px;
  height: 180px;
}

a {
  display: block;
  margin-bottom: 5px;
  text-decoration: none;
}

.tercero4 {
  font-size: 20px;
  font-weight: 700;
}

.yes {
  color: #111;
  font-size: 16px;
}

.celu {
  display: flex;
  align-items: center;
}

.celu svg {
  margin-right: 5px;
  width: 12px;
  height: 12px;
}

.ubi {
  display: flex;
  align-items: center;
}

.ubi svg {
  margin-right: 5px;
  width: 12px;
  height: 12px;
}

.yes {
  color: #111;
  font-size: 16px;
}

.tercero5 {
  margin-top: 10px;
  font-size: 14px;
  color: #999;
}

.salto{
  margin-top: 14rem;
}
.cuarto {
  text-align: center;
}

.cuarto1 {
  font-family: "Sen", sans-serif;
  font-size: 35px;
  margin-bottom: 40px;
  font-weight: bold;
}

.cuarto2 {
  display: flex;
  justify-content: center;
}

.cuarto2 a {
  margin-right: 20px;
  transition: all 0.15s ease;
}

.cuarto2 img {
  width: 280px;
  border-radius: 5px;
}

.cuarto2 a img {
  transition: transform 0.1s ease;
}

.cuarto2 a:hover img {
  transform: translate(0, -3px);
}

.quinta {
  margin-top: 7rem;
  display: flex;
  justify-content: center;
  background-color: rgb(91, 185, 210);
  padding: 8rem;
}

.quinta1,
.quinta2 {
  flex-basis: 17%;
}

.quinta1 img {
  top: 20rem;
}

.quinta2 h3 {
  margin-bottom: 20px;
  font-size: 2rem;
  font-family: "Sen", sans-serif;
}

.quinta2 a {
  font-size: 16px;
  font-family: "Sen", sans-serif;
  color: #111;
  margin-bottom: 20px;
}








/*index 2 y 3 ignorar*/

.nav1{
  margin-top: 10rem;
  background-color:whitesmoke;

}

.navegador {
  
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.navegador a {
  margin-left: 6rem;
  text-align: center;
  color: black; 
  text-decoration: none;
  font-size: 20px;  
  padding: 10px;
 
}

.si1{
  border-bottom: 3px solid
}


